$green10: #e1f7e8;
$green40: #51c273;
$green50: #31b057;
$green60: #1c9440;
$green80: #0f752e;
$red10: #fce3e4;
$red40: #ed646a;
$red50: #e52a34;
$black10: #e8e8e8;
$black40: #cacccf;
$black50: #25282b;
$black80: #52575c;
$orange10: #ffe7d9;
$orange40: #ff9a5c;
$orange50: #fc8338;
$orange60: #e6732c;
$orange80: #b85518;
$yellow50: #fbaf18;
$white: #fff;

$tiny: 10.5px;
$small: 12px;
$regular: 14px;
$medium: 15px;
$large: 18px;
$supperLarge: 21px;

$h1: 40px;
$h2: 30px;
$h3: 22px;
$h4: 20px;
$h5: 18px;
